*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    background-color: grey;
    align-items: center;
    padding: 1rem;
}
.menu ul {
    display: flex;
    gap: 1rem;
}
.menu ul li{
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;

}
.body{
    display: flex;
}
.left, .right{
    width: 50%;
    /* align-items: center;
    justify-content: center;
    align-self: center;  */
}
.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    /* width: 30%; */
}
.left p, h3, h1{
    color: white;
}
.left h1{
    font-size: 600%;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.circle{
    border-radius: 50%;
    background-color: beige;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}