*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
}
.menu{
  display: flex;
  gap: 3rem;
  background-color: hsla(204, 80%, 16% , .8);
  align-items: center;
  padding: 1rem;
}
.menu div a{
  font-weight: 500;
  text-transform: capitalize;
  color: white;

}
.menu div:hover {
  text-decoration: underline;
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.content{
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.left, .right{
  width: 50%;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem ;
}
.headerOne{
  text-transform: capitalize;
  font-weight: 300;
  font-size: 50px;
}
.headerTwo{
  font-weight: 300;
}
.left p, h3, h1{
  color: white;
}
.left h1{
  font-size: 600%;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.circle{
  border-radius: 50%;
  background-color: beige;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle h1{
  color: hsl(204, 80%, 16%);
  font-weight: 300;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
