*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: 1px solid red; */
}
.body{
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  height: 100%;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 3rem;
}
.border-line{
  border: 1px solid grey;
  flex: 1;
}
.logo{
  margin-left: 2%;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: hsla(204, 80%, 16% , .8);
  align-items: center;
  padding: 2.5rem;
  width: 60%;
}
.menu div a{
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
.menu div a.active {
  text-decoration: underline;
}
.home-content{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
.left, .right{
  width: 50%;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem ;
}
.headerOne{
  text-transform: capitalize;
  font-weight: 300;
  font-size: 50px;
}
.headerTwo{
  font-weight: 300;
}
.left p, h3, h1{
  color: white;
}
.left h1{
  font-size: 600%;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.circle{
  border-radius: 50%;
  background-color: beige;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle h1{
  color: hsl(204, 80%, 16%);
  font-weight: 300;
}
